<h1>Login</h1>

<form [formGroup]="autor" (ngSubmit)="login()">
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input  type="text"
                class="form-control"
                id="nombre"
                formControlName="nombre"
                placeholder="Nombre">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="text"
                class="form-control"
                id="password"
                formControlName="password"
                placeholder="password">
    </div>
    <button type="submit" class="btn btn-success">Aceptar</button>
    
    <button type="button" class="btn btn-warning" (click)="registrar()">Registrarse</button>
</form>